.draggable {
  position: relative;
  height: 100%;
}

.dragHandle {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);

  width: 72px;
  height: 5px;

  border: none;
  border-radius: 999px;

  background-color: var(--mantine-color-brand-filled);

  cursor: grab;
  touch-action: none;
  z-index: 10;

  transition:
    width 120ms ease,
    opacity 120ms ease;
}

.dragHandle:hover {
  width: 72px;
}

.dragHandle:active {
  cursor: grabbing;
  opacity: 0.8;
}
