.card {
  flex-shrink: 0;
}

.title {
  flex: 1 1 0;
  min-width: 0;
  cursor: pointer;
}

.actions {
  flex: 0 0 auto;
  white-space: nowrap;
}

.card .actions * {
  cursor: pointer;
}

.description {
  width: fit-content;
  max-width: 100%;
}

.selectableText {
  overflow-wrap: anywhere;
  user-select: text;
}

.footer {
  border-top: 1px solid var(--mantine-color-gray-3);
}

.link {
  text-decoration: none;
}

.link .selectableText {
  transition: all 0.3s;
}

.link .selectableText:hover {
  color: var(--mantine-color-brand-6);
}
