.label {
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
  font-weight: 600;
}

.input {
  color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-dark-0));
}

.input::placeholder {
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
}

.error {
  font-size: 12px;
}
